*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: normal;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    width: 100vw;
}

form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
    height: 78%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
    padding-left: 1.6em;
    padding-right: 1em;
    padding-top: 1em;
    border: solid;
    border-color: black;
    border-width: 1px;
    box-shadow: 10px 10px 0px 0px black;

}

.major{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    width: 95%;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    top: 0;
    transform: translateY(0);
    margin-top: 0;
    align-self: flex-start;
}

.logo {
    border-radius: 1em;
    align-items: center;
    margin-bottom: 1em;
}

button{
    padding: 6px 12px;
    font-size: 100%;
    font-weight: bold;
    background-color: hsl(47, 88%, 63%);
    color: black;
    margin-bottom: .9em;
    border: none;
}

.date{
    margin-bottom: 1em;
    font-size: 90%;
}

h3{
    letter-spacing: 1px;
    margin-bottom: 1em;
}

.languages{
    font-size: 100%;
    line-height: 20px;
    margin-bottom: 1em;
}


.Greg{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}

span{
    font-weight: bold;
    font-size: 110%;
}